<footer>
    <div class="logo">
        <img src="/img/logo.svg" alt="logo">
    </div>
    <div class="bg-body-tertiary text-center pt-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 order-md-1 order-lg-1">
                    <h5>Contacto</h5>
                    <ul class="list-unstyled">
                        <li>Dirección de la empresa</li>
                        <li>Teléfono: 123-456-7890</li>
                        <li>Email: info@ejemplo.com</li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4 order-md-3 order-lg-2">
                    <h5>Síguenos en</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/profile.php?id=100092696826219" target="_blank" class="link-success">
                                <i class="bi bi-facebook icon fs-4" data-bs-toggle="tooltip" data-bs-placement="right" title="Facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/mrhouse.inmob/" target="_blank" class="link-success">
                                <i class="bi bi-instagram icon fs-4" data-bs-toggle="tooltip" data-bs-placement="right" title="Instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/MrHouseInmob" target="_blank" class="link-success">
                                <i class="bi bi-twitter icon fs-4" data-bs-toggle="tooltip" data-bs-placement="right" title="Twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.tiktok.com/@mrhouseinmo" target="_blank" class="link-success">
                                <i class="bi bi-tiktok icon fs-4" data-bs-toggle="tooltip" data-bs-placement="right" title="TikTok"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4 order-md-2 order-lg-3">
                    <h5>Enlaces útiles</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="link-success">Términos y condiciones</a></li>
                        <li><a href="#" class="link-success">Política de privacidad</a></li>
                        <li><a href="#" class="link-success">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="mb-0">&copy; 2023 Grupo 8. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>