<footer>
    <div class="footer text-center bg-dark text-white">
        <div class="line mb-3"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <h5 class="mb-3">Contacto</h5>
                    <ul class="list-inline">
                        <li>Dirección de la empresa</li>
                        <li>Teléfono: 123-456-7890</li>
                        <li>Email: info@ejemplo.com</li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                    <h5 class="mb-3">Síguenos en</h5>
                    <ul class="list-inline second2">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/profile.php?id=100092696826219" target="_blank"><i
                                    class="fab fa-facebook fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/mrhouse.inmobiliaria/" target="_blank"> <i
                                    class="fab fa-instagram fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/MrHouseInmob" target="_blank"> <i
                                    class="fab fa-twitter fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.tiktok.com/@mrhouseinmo" target="_blank"> <i
                                    class="fab fa-tiktok fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                    <h5 class="mb-3">Enlaces útiles</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Términos y condiciones</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="py-2">
            <div class="container ">
                <p class="mb-0 text-white">&copy; 2023 Grupo 8. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>