<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand navbar-logo" th:href="@{/}">
            <img src="/img/logo.svg" alt="logo" class="navbar-img">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">
                        Inicio
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Propiedades
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" th:href="@{/propiedades/lista}">Comprar propiedades</a>
                        </li>
                        <li sec:authorize="hasRole('ENTITY')">
                            <a class="dropdown-item" th:href="@{/usuario/propiedades/__${session.userSession.id}__}">Mis propiedades</a>
                        </li>
                        <li sec:authorize="hasRole('ENTITY')">
                            <a class="dropdown-item" th:href="@{/propiedades/formulario}">Vender</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i th:if="${session.userSession == null}" class="bi bi-person fs-4"></i>
                        <div th:if="${session.userSession != null}" class="text-white nav-link d-flex align-items-center">
                            <i class="bi bi-person-fill fs-4 me-2"></i>
                            <div th:text="${session.userSession.name}" class="fs-6"></div>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li th:if="${session.userSession == null}">
                            <a class="dropdown-item" th:href="@{/usuario/iniciarSesion}">Iniciar sesión</a>
                        </li>
                        <li th:if="${session.userSession == null}">
                            <a class="dropdown-item" th:href="@{/usuario/registrarse}">Registrarse</a>
                        </li>
                        <li th:if="${session.userSession != null}">
                            <a class="dropdown-item" th:href="@{/usuario/perfil}">Perfil</a>
                        </li>
                        <li th:if="${session.userSession != null}" sec:authorize="hasRole('ADMIN')">
                            <a class="dropdown-item" th:href="@{/admin/listaUsuarios}">Usuarios</a>
                        </li>
                        <li th:if="${session.userSession != null}" sec:authorize="hasRole('ENTITY')">
                            <a class="dropdown-item" th:href="@{/usuario/gestionEnidad}">Mis gestiones</a>
                        </li>
                        <li th:if="${session.userSession != null}">
                            <a class="dropdown-item" th:href="@{/logout}">Salir</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle border-start ps-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-circle-half"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a onclick="clearTheme()" class="dropdown-item">
                                <i class="bi bi-brightness-high-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a onclick="darkTheme()" class="dropdown-item">
                                <i class="bi bi-moon-stars-fill"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>