@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
h1{
    color: black;
}

body{
    background: #687fcb;
}

.container__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card__father{
    margin: 20px;
    perspective: 1000px;
}

.card__father:hover .card__properties{
    transform: rotateY(180deg);
}


.card__properties{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1000ms;
    border-radius: 20px;
}

.card__front{
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__back{
    transform: rotateY(180deg);
    background: white;
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}
.body__card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}
.body__card_back p{
    margin-top: 30px;
    font-size: 18px;
}
.overlay {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: -100;
    width: 95%;
    top: 30px;
    left: 35px;
    border: solid 1px #646470;
    box-shadow: 10px 10px 30px #646470;
}


