<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head :: head"></head>

    <head th:replace="/fragments/head :: head"><title>Gestiones</title></head>

    <body onload="loadTheme()" class="sb-nav-fixed">



        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Gestiones</div>
                            <!--            INMUEBLES-->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon">
                                    <!--              <i class="fa-solid fa-house-circle-check" style="margin-right: 5px"></i>-->
                                </div>
                                Inmuebles
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="">Agregar Inmueble</a>
                                    <a class="nav-link" href="">Modificar Inmueble</a>
                                </nav>
                            </div>

                            <!--            OFERTAS-->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts2">
                                <div class="sb-nav-link-icon">
                                    <!--              <i class="fa-solid fa-sack-dollar" style="margin-right: 5px"></i>-->
                                </div>
                                Ofertas
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="">Ofertas Recibidas</a>
                                    <a class="nav-link" href="">Respuestas a Ofertas</a>
                                </nav>
                            </div>
                            <!--            HORARIOS-->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#collapseLayouts1" aria-expanded="false" aria-controls="collapseLayouts1">
                                <div class="sb-nav-link-icon">
                                    <!--              <i class="fa-solid fa-clock" style="margin-right: 5px"></i>-->
                                </div>
                                Horarios
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts1" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="">Horarios</a>
                                    <a class="nav-link" href="">Ver Turnos</a>
                                </nav>
                            </div>

                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <span class="small" >Usuario: </span>
                        <span th:text="${session.userSession.name}"></span>
                    </div>
                </nav>
            </div>

            <div id="layoutSidenav_content">
                <nav th:replace="/fragments/nav :: nav"></nav>
                <div id="content-wrapper" class="container">

                    <div class="container-fluid">

                        <!--  OFFCANVAS-->
                        <nav class="navbar navbar-dark block res-navbar">
                            <!--            <div class="container-fluid">-->
                            <div class="right-nav">

                            </div>
                            <button class="navbar-toggler bg-dark mt-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                                <i class="bi bi-person-lines-fill fs-2"></i>
                                <i class="bi bi-list-columns-reverse fs-2"></i>
                            </button>
                            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Gestiones</h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Inmuebles
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark">
                                                <li><a class="dropdown-item" href="#">Agregar Inmueble</a></li>
                                                <li><a class="dropdown-item" href="#">Modificar Inmueble</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Horarios
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark">
                                                <li><a class="dropdown-item" href="#">Ver Horarios</a></li>
                                                <li><a class="dropdown-item" href="#">Ver Turnos</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Ofertas
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark">
                                                <li><a class="dropdown-item" href="#">Ofertas Recibidas</a></li>
                                                <li><a class="dropdown-item" href="#">Respuestas a Ofertas</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <!--  OFFCANVAS-->

                        <!--          <div class="col-md-3">-->
                        <!--            <nav class="navbar navbar-expand-md navbar-light h-100">-->
                        <!--              <button class="btn btn-outline-dark p-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none collapsed"-->
                        <!--                      type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"-->
                        <!--                      aria-expanded="false" aria-controls="navbarNav">-->
                        <!--                Contenido de la página <i class="fa fa-arrows-up-down mx-2"></i>-->
                        <!--              </button>-->
                        <!--              <div class="collapse navbar-collapse" id="navbarNav">-->
                        <!--              </div>-->
                        <!--            </nav>-->
                        <!--          </div>-->

                        <div class="col">
                            <main class="flex-grow-1">
                                <div>
                                    <div class="row">

                                        <div class="col">
                                            <section>
                                                <div class="row">
                                                    <div >
                                                        <h2 class="mt-4 mb-4 text-center fs-1">Gestión de inmuebles</h2>
                                                        <h3 class="mb-4">Mis inmuebles</h3>
                                                        <div class="table-responsive">
                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">Dirección</th>
                                                                        <th scope="col">Provincia</th>
                                                                        <th scope="col">Localidad</th>
                                                                        <th scope="col">Precio</th>
                                                                        <th scope="col">Imagen</th>
                                                                        <th scope="col">Acciones</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody th:each="property : ${properties}">
                                                                    <tr>
                                                                        <td th:text="${property.address}" style="max-width: 100px;"></td>
                                                                        <td th:text="${property.province}" style="max-width: 100px;"></td>
                                                                        <td th:text="${property.location}" style="max-width: 100px;"></td>
                                                                        <td th:text="${property.price}" style="max-width: 100px;">
                                                                        </td>
                                                                        <td style="max-width: 100px;">
                                                                            <img th:src="@{/image/propiedades/__${property.images[0].id}__}"
                                                                                 class="rounded-circle img_into ms-2">
                                                                        </td>
                                                                        <td class="ps-1">

                                                                                <a type="button" class="btn btn-primary"  th:href="@{/propiedades/modificar/__${property.id}__}">
                                                                                    
                                                                                <i class="bi bi-pencil-square"></i>
                                                                                </a>

                                                                            <button type="button" class="btn btn-success m-1" data-bs-toggle="modal"
                                                                                    th:data-bs-target="'#appoinmentModalProperty' + ${property.id}">
                                                                                <i class="bi bi-calendar-plus"></i>
                                                                            </button>
                                                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                                                    th:data-bs-target="'#deleteModalProperty' + ${property.id}">
                                                                                <i class="bi bi-trash icon" data-bs-toggle="tooltip"
                                                                                   data-bs-placement="right" title="Eliminar"></i>
                                                                            </button>
                                                                            <!--Modal Turno-->
                                                                            <div class="modal fade"
                                                                                 th:id="'appoinmentModalProperty' + ${property.id}"
                                                                                 tabindex="-1"
                                                                                 aria-labelledby="appoinmentModalPropertyLabel" aria-hidden="true">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content p-3">
                                                                                        <form method="post"
                                                                                              th:action="@{/propiedades/disponibilidad/__${property.id}__}">
                                                                                            <h3 >Publicar Horarios Nuevos</h3>
                                                                                            <div class="form-group mb-2">
                                                                                                <label for="fecha" class="form-label">Fecha:</label>
                                                                                                <input type="date" id="fecha" name="timetableDay"
                                                                                                       class="form-control" required>
                                                                                            </div>
                                                                                            <div class="form-group mb-2">
                                                                                                <label for="hora_inicio" class="form-label">Hora de
                                                                                                    inicio:</label>
                                                                                                <input type="time" id="hora_inicio"
                                                                                                       name="start"
                                                                                                       class="form-control" step="1800" required>
                                                                                            </div>
                                                                                            <div class="form-group mb-2">
                                                                                                <label for="hora_fin" class="form-label">Hora de
                                                                                                    fin:</label>
                                                                                                <input type="time" id="hora_fin" name="end"
                                                                                                       class="form-control" step="1800" required>
                                                                                            </div>
                                                                                            <button type="submit" class="btn btn-success">Publicar
                                                                                                Horarios
                                                                                            </button>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!--Fin Modal Turno-->
                                                                            <!--Modal Eliminar-->
                                                                            <div class="modal fade" th:id="'deleteModalProperty' + ${property.id}"
                                                                                 tabindex="-1"
                                                                                 aria-labelledby="deleteModalPropertyLabel" aria-hidden="true">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h5 class="modal-title" id="deleteModalPropertyLabel">
                                                                                                Confirmación de
                                                                                                eliminación</h5>
                                                                                            <button type="button" class="btn-close"
                                                                                                    data-bs-dismiss="modal"
                                                                                                    aria-label="Close"></button>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <p>¿Está seguro de que desea eliminar los cambios?</p>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="button" class="btn btn-secondary"
                                                                                                    data-bs-dismiss="modal">
                                                                                                Cancelar
                                                                                            </button>
                                                                                            <a class="btn btn-success"
                                                                                               th:href="@{/propiedades/eliminar/__${property.id}__}">Eliminar</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!--Fin Modal Eliminar-->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="gestion-ofertas">
                                                    <h2 class="mt-4 mb-4 text-center fs-1">Gestión de ofertas</h2>
                                                    <div id="ofertas-recibidas">
                                                        <h3 class="mb-4">Ofertas recibidas</h3>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <table class="table table-hover col-12">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Dirección</th>
                                                                            <th scope="col">Dia oferta</th>
                                                                            <th scope="col">Precio propiedad</th>
                                                                            <th scope="col">Estado</th>
                                                                            <th scope="col">Confirmación</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr th:each="offer : ${offers}">
                                                                            <td th:text="${offer.property.address}"></td>
                                                                            <td th:text="${offer.creationDate}"></td>
                                                                            <td th:text="${offer.price}"></td>
                                                                            <td th:text="${offer.offerStatus.name() == 'CLIENT_OFFER'}
                                                                                ?'Pendiente':
                                                                                (${offer.offerStatus.name() == 'ENTITY_ACCEPTED'}
                                                                                ?'Confirmar':(${offer.offerStatus.name() == 'ENTITY_REJECTED'}
                                                                                ?'Rechazado' : 'Finalizado')
                                                                                )">
                                                                            </td>
                                                                            <td th:class="${offer.offerStatus.name() == 'CLIENT_OFFER'} ? ' ': 'd-none'">
                                                                                <a class="btn btn-success"
                                                                                   th:href="@{/ofertas/respuesta/user/{userId}/offer/{offerId}/response/{response}(userId=${session.userSession.id}, offerId=${offer.id}, response = 'Accept')}">Confirmar</a>
                                                                                <a class="btn btn-danger"
                                                                                   th:href="@{/ofertas/respuesta/user/{userId}/offer/{offerId}/response/{response}(userId=${session.userSession.id}, offerId=${offer.id}, response = 'Decline')}">Rechazar</a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-bs-spy="scroll" data-bs-target="#navbarNav" data-bs-offset="0"
                                                         class="scrollspy-example-2"
                                                         tabindex="0">
                                                        <div id="administrar-horarios">
                                                            <h2 class="mt-4 mb-4 text-center fs-1">Gestión de horarios</h2>
                                                            <div id="mis-horarios">
                                                                <h3 class="mb-4">Mis horarios publicados</h3>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Dirección</th>
                                                                                    <th>Fecha</th>
                                                                                    <th>Hora de inicio</th>
                                                                                    <th>Hora de fin</th>
                                                                                    <th>Acciones</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr th:each="dayPlan : ${timetable}">
                                                                                    <td th:text="${dayPlan.property.address}"></td>
                                                                                    <td th:text="${dayPlan.timetableDay}"></td>
                                                                                    <td th:text="${dayPlan.start}"></td>
                                                                                    <td th:text="${dayPlan.end}"></td>
                                                                                    <td>
                                                                                        <!-- Botones de acciones (modificar, eliminar) -->
                                                                                        <button class="btn btn-primary">
                                                                                            <i class="bi bi-pencil-square"></i>
                                                                                        </button>
                                                                                        <button type="button" class="btn btn-danger"
                                                                                                data-bs-toggle="modal"
                                                                                                th:data-bs-target="'#deleteModalDayPlan' + ${dayPlan.id}">
                                                                                            <i class="bi bi-trash icon" data-bs-toggle="tooltip"
                                                                                               data-bs-placement="right" title="Eliminar"></i>
                                                                                        </button>
                                                                                        <div class="modal fade" th:id="'deleteModalDayPlan' + ${dayPlan.id}"
                                                                                             tabindex="-1"
                                                                                             aria-labelledby="deleteModalDayPlanLabel" aria-hidden="true">
                                                                                            <div class="modal-dialog">
                                                                                                <div class="modal-content">
                                                                                                    <div class="modal-header">
                                                                                                        <h5 class="modal-title" id="deleteModalDayPlanLabel">
                                                                                                            Confirmación de
                                                                                                            eliminación</h5>
                                                                                                        <button type="button" class="btn-close"
                                                                                                                data-bs-dismiss="modal"
                                                                                                                aria-label="Close"></button>
                                                                                                    </div>
                                                                                                    <div class="modal-body">
                                                                                                        <h5>El horario disponible seleccionado, tiene los siguientes turnos asociados:</h5>
                                                                                                        <table class="table">
                                                                                                            <thead>
                                                                                                                <tr>
                                                                                                                    <th>Fecha</th>
                                                                                                                    <th>Hora de inicio</th>
                                                                                                                    <th>Hora de fin</th>
                                                                                                                    <th>Cliente</th>
                                                                                                                </tr>
                                                                                                            </thead>
                                                                                                            <tbody>
                                                                                                                <tr th:each="appointment : ${bookedAppointments}" th:if="${appointment.dayPlan.id} == ${dayPlan.id}">
                                                                                                                    <td th:text="${appointment.date}"></td>
                                                                                                                    <td th:text="${appointment.startTime}"></td>
                                                                                                                    <td th:text="${appointment.endTime}"></td>
                                                                                                                    <td th:text="${appointment.client.name}"></td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                        <p>¿Está seguro de que desea eliminar el horario publicado?</p>
                                                                                                    </div>
                                                                                                    <div class="modal-footer">
                                                                                                        <button type="button" class="btn btn-secondary"
                                                                                                                data-bs-dismiss="modal">
                                                                                                            Cancelar
                                                                                                        </button>
                                                                                                        <a class="btn btn-success"
                                                                                                           th:href="@{/propiedades/disponibilidad/eliminar/__${dayPlan.id}__}">Eliminar</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <!--Fin Modal Eliminar-->
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="mis-turnos">
                                                                <h3 class="mb-4">Mis turnos</h3>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Dirección</th>
                                                                                    <th>Fecha</th>
                                                                                    <th>Hora de inicio</th>
                                                                                    <th>Hora de fin</th>
                                                                                    <th>Cliente</th>
                                                                                    <th>Estado</th>
                                                                                    <th>Acciones</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr th:each="appointment : ${allAppointments}">
                                                                                    <td th:text="${appointment.property.address}"></td>
                                                                                    <td th:text="${appointment.date}"></td>
                                                                                    <td th:text="${appointment.startTime}"></td>
                                                                                    <td th:text="${appointment.endTime}"></td>
                                                                                    <td>
                                                                                        <span th:if="${appointment.client == null}"></span>
                                                                                        <span th:unless="${appointment.client == null}" th:text="${appointment.client.name}">-</span>
                                                                                    </td>
                                                                                    <td th:text="${appointment.appointmentStatus.name() == 'AVAILABLE'}
                                                                                        ?'Disponible':
                                                                                        (${appointment.appointmentStatus.name()  == 'BOOKED'}
                                                                                        ?'Reservado':'Cancelado')">
                                                                                    </td>
                                                                                    <td>
                                                                                        <!-- Botones de acciones (modificar, eliminar) -->
                                                                                        <button type="button" class="btn btn-danger"
                                                                                                data-bs-toggle="modal"
                                                                                                th:data-bs-target="'#cancelModalAppointment' + ${appointment.id}">
                                                                                            <i class="bi bi-x-circle" data-bs-toggle="tooltip"
                                                                                               data-bs-placement="right" title="Cancelar"></i>
                                                                                        </button>
                                                                                        <div class="modal fade" th:id="'cancelModalAppointment' + ${appointment.id}"
                                                                                             tabindex="-1"
                                                                                             aria-labelledby="cancelModalAppointmentLabel" aria-hidden="true">
                                                                                            <div class="modal-dialog">
                                                                                                <div class="modal-content">
                                                                                                    <div class="modal-header">
                                                                                                        <h5 class="modal-title" id="">
                                                                                                            Confirmación de
                                                                                                            cancelación</h5>
                                                                                                        <button type="button" class="btn-close"
                                                                                                                data-bs-dismiss="modal"
                                                                                                                aria-label="Close"></button>
                                                                                                    </div>
                                                                                                    <div class="modal-body">
                                                                                                        <p>¿Está seguro de que desea cancelar el turno seleccionado?</p>
                                                                                                    </div>
                                                                                                    <div class="modal-footer">
                                                                                                        <button type="button" class="btn btn-secondary"
                                                                                                                data-bs-dismiss="modal">
                                                                                                            Volver
                                                                                                        </button>
                                                                                                        <a class="btn btn-success"
                                                                                                           th:href="@{/propiedades/turnos/cancelar/__${appointment.id}__}">Cancelar Turno</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <!--Fin Modal Eliminar-->
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
                <footer th:replace="/fragments/footer :: footer"></footer>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="/js/theme.js"></script>
    </body>
</html>