<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head"></head>
    <body onload="loadTheme()">
        <div class="d-flex flex-column min-vh-100">
            <nav th:replace="/fragments/nav :: nav"></nav>
            <section class="flex-grow-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <nav class="navbar navbar-expand-md navbar-light h-100">
                                <button class="btn btn-outline-dark p-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-expanded="false" aria-controls="navbarNav">
                                    Contenido de la página <i class="fa fa-arrows-up-down mx-2"></i>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav flex-column">
                                        <li class="nav-item">
                                            <div class="nav-link" href="#administrar-horarios">Administración de horarios</div>
                                            <ul class="nav flex-column ms-3">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#mis-horarios">Mis horarios publicados</a>
                                                </li>
<!--                                                <li class="nav-item">
                                                    <a class="nav-link" href="#nuevo-horario">Publicar Horarios Nuevos</a></li>-->
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-link" href="#gestion-ofertas">Gestión de ofertas</div>
                                            <ul class="nav flex-column ms-3">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#ofertas-recibidas">Ofertas recibidas</a>
                                                </li>
<!--                                                <li class="nav-item"><a class="nav-link" href="#ofertas-resueltas">Respuestas a-->
<!--                                                        Ofertas</a>                                              </li>-->
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-link" href="#gestion-inmuebles">Gestión de inmuebles</div>
                                            <ul class="nav flex-column ms-3">
                                                <li class="nav-item">
                                                    <a class="nav-link" th:href="@{/propiedades/formulario}">Publicar inmueble</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#mis-inmuebles">Mis inmuebles</a>
                                                </li>
                                                <!--                                                <li class="nav-item"><a class="nav-link" href="#modificar-inmueble">Modificar-->
                                                <!--                                                        Inmueble</a></li>-->
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-9">
                            <div data-bs-spy="scroll" data-bs-target="#navbarNav" data-bs-offset="0" class="scrollspy-example-2"
                                 tabindex="0">
<!--                                <div id="gestion-inmuebles">-->
<!--                                    <h2>Gestión de Inmuebles</h2>-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-md-6">-->
<!--                                            <h3 id="publicar-inmueble">Publicar Inmueble</h3>-->
<!--                                            <form>-->
<!--                                                &lt;!&ndash; formulario ya hecho &ndash;&gt;-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-6">-->
<!--                                            <h3 id="modificar-inmueble">Modificar Inmueble</h3>-->
<!--                                            <form>-->
<!--                                                &lt;!&ndash; mostrar los inmuebles &ndash;&gt;-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div id="administrar-horarios">
                                    <h2 class="mt-4 mb-4">Administración de horarios</h2>
                                    <div id="mis-horarios">
                                        <h3 class="mb-4">Mis horarios publicados</h3>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Dirección</th>
                                                            <th>Fecha</th>
                                                            <th>Hora de inicio</th>
                                                            <th>Hora de fin</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- Aquí se mostrarían los horarios publicados -->
                                                        <tr>
                                                            <td>asdasd</td>
                                                            <td>Fecha 1</td>
                                                            <td>Hora de inicio 1</td>
                                                            <td>Hora de fin 1</td>
                                                            <td>
                                                                <!-- Botones de acciones (modificar, eliminar) -->
                                                                <button class="btn btn-sm btn-primary">Modificar</button>
                                                                <button class="btn btn-sm btn-danger">Eliminar</button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>asdasd</td>
                                                            <td>Fecha 2</td>
                                                            <td>Hora de inicio 2</td>
                                                            <td>Hora de fin 2</td>
                                                            <td>
                                                                <!-- Botones de acciones (modificar, eliminar) -->
                                                                <button class="btn btn-sm btn-primary">Modificar</button>
                                                                <button class="btn btn-sm btn-danger">Eliminar</button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>asdasd</td>
                                                            <td>Fecha 2</td>
                                                            <td>Hora de inicio 2</td>
                                                            <td>Hora de fin 2</td>
                                                            <td>
                                                                <!-- Botones de acciones (modificar, eliminar) -->
                                                                <button class="btn btn-sm btn-primary">Modificar</button>
                                                                <button class="btn btn-sm btn-danger">Eliminar</button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>asdasd</td>
                                                            <td>Fecha 2</td>
                                                            <td>Hora de inicio 2</td>
                                                            <td>Hora de fin 2</td>
                                                            <td>
                                                                <!-- Botones de acciones (modificar, eliminar) -->
                                                                <button class="btn btn-sm btn-primary">Modificar</button>
                                                                <button class="btn btn-sm btn-danger">Eliminar</button>
                                                            </td>
                                                        </tr>
                                                        <!-- ... y así sucesivamente para cada horario publicado -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
<!--                                    <div id="nuevo-horario">-->
<!--                                        <h3>Publicar Horarios Nuevos</h3>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-12">-->
<!--                                                <form>-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label for="fecha">Fecha:</label>-->
<!--                                                        <input type="date" id="fecha" name="fecha" class="form-control" required>-->
<!--                                                    </div>-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label for="hora_inicio">Hora de inicio:</label>-->
<!--                                                        <input type="time" id="hora_inicio" name="hora_inicio" class="form-control" step="1800"-->
<!--                                                               required>-->
<!--                                                    </div>-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label for="hora_fin">Hora de fin:</label>-->
<!--                                                        <input type="time" id="hora_fin" name="hora_fin" class="form-control" step="1800"-->
<!--                                                               required>-->
<!--                                                    </div>-->
<!--                                                    <button type="submit" class="btn btn-primary">Publicar Horarios</button>-->
<!--                                                </form>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </div>
                                <div id="gestion-ofertas">
                                    <h2 class="mt-4 mb-4">Gestión de ofertas</h2>
                                    <div id="ofertas-recibidas">
                                        <h3 class="mb-4">Ofertas recibidas</h3>
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-12">-->
<!--                                                <table class="table">-->
<!--                                                    <thead>-->
<!--                                                        <tr>-->
<!--                                                            <th>Inmueble</th>-->
<!--                                                            <th>Fecha</th>-->
<!--                                                            <th>Oferta</th>-->
<!--                                                            &lt;!&ndash; El estado creo se puede sacar porque estarian todas pendientes &ndash;&gt;-->
<!--                                                            <th>Estado</th>-->
<!--                                                            <th>Acciones</th>-->
<!--                                                        </tr>-->
<!--                                                    </thead>-->
<!--                                                    <tbody>-->
<!--                                                        &lt;!&ndash; Aquí se mostrarían las ofertas recibidas &ndash;&gt;-->
<!--                                                        <tr>-->
<!--                                                            <td>Inmueble 1</td>-->
<!--                                                            <td>Fecha 1</td>-->
<!--                                                            <td>Oferta 1</td>-->
<!--                                                            <td>Pendiente</td>-->
<!--                                                            <td>-->
<!--                                                                &lt;!&ndash; el boton de ver no se si carece de sentido &ndash;&gt;-->
<!--                                                                <button class="btn btn-sm btn-primary">Ver</button>-->
<!--                                                                <button class="btn btn-sm btn-success">Aceptar</button>-->
<!--                                                                <button class="btn btn-sm btn-danger">Rechazar</button>-->
<!--                                                            </td>-->
<!--                                                        </tr>-->
<!--                                                        <tr>-->
<!--                                                            <td>Inmueble 2</td>-->
<!--                                                            <td>Fecha 2</td>-->
<!--                                                            <td>Oferta 2</td>-->
<!--                                                            <td>Pendiente</td>-->
<!--                                                            <td>-->
<!--                                                                <button class="btn btn-sm btn-primary">Ver</button>-->
<!--                                                                <button class="btn btn-sm btn-success">Aceptar</button>-->
<!--                                                                <button class="btn btn-sm btn-danger">Rechazar</button>-->
<!--                                                            </td>-->
<!--                                                        </tr>-->
<!--                                                        &lt;!&ndash; ... y así sucesivamente para cada oferta recibida &ndash;&gt;-->
<!--                                                    </tbody>-->
<!--                                                </table>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div id="ofertas-resueltas">-->
<!--                                        <h3>Respuestas a Ofertas</h3>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-12">-->
<!--                                                <table class="table">-->
<!--                                                    <thead>-->
<!--                                                        <tr>-->
<!--                                                            <th>Inmueble</th>-->
<!--                                                            <th>Fecha</th>-->
<!--                                                            <th>Oferta</th>-->
<!--                                                            <th>Estado</th>-->
<!--                                                            <th>Acciones</th>-->
<!--                                                        </tr>-->
<!--                                                    </thead>-->
<!--                                                    <tbody>-->
<!--                                                        &lt;!&ndash; Aquí se mostrarían las ofertas recibidas &ndash;&gt;-->
<!--                                                        <tr>-->
<!--                                                            <td>Inmueble 3</td>-->
<!--                                                            <td>Fecha 3</td>-->
<!--                                                            <td>Oferta 3</td>-->
<!--                                                            <td>Rechazada</td>-->
<!--                                                            <td>-->
<!--                                                                <button class="btn btn-sm btn-primary">Ver</button>-->
<!--                                                                <button class="btn btn-sm btn-warning">Modificar</button>-->
<!--                                                                <button class="btn btn-sm btn-danger">Eliminar</button>-->
<!--                                                            </td>-->
<!--                                                        </tr>-->
<!--                                                        <tr>-->
<!--                                                            <td>Inmueble 4</td>-->
<!--                                                            <td>Fecha 4</td>-->
<!--                                                            <td>Oferta 4</td>-->
<!--                                                            <td>Aceptada</td>-->
<!--                                                            <td>-->
<!--                                                                <button class="btn btn-sm btn-primary">Ver</button>-->
<!--                                                                <button class="btn btn-sm btn-warning">Modificar</button>-->
<!--                                                                <button class="btn btn-sm btn-danger">Eliminar</button>-->
<!--                                                            </td>-->
<!--                                                        </tr>-->
<!--                                                        &lt;!&ndash; ... y así sucesivamente para cada oferta recibida &ndash;&gt;-->
<!--                                                    </tbody>-->
<!--                                                </table>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                                        <div class="row">


                            <div class="container col-12">
                                <table class="table table-hover col-12">
                                    <thead>
                                    <tr>
                                        <th scope="col">Dirección</th>
                                        <th scope="col">Dia oferta</th>
                                        <th scope="col">Precio propiedad</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Confirmación</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="offer : ${offers}">
                                    <tr>
                                        <td th:text="${offer.property.address}"></td>
                                        <td th:text="${offer.creationDate}"></td>
                                        <td th:text="${offer.price}"></td>
                                        <td th:text="${offer.offerStatus.name() == 'CLIENT_OFFER'}
                                                    ?'Pendiente':
                                                    (${offer.offerStatus.name() == 'ENTITY_ACCEPTED'}
                                                    ?'Confirmar':(${offer.offerStatus.name() == 'ENTITY_REJECTED'}
                                                    ?'Rechazado' : 'Finalizado')
                                                    )">
                                        </td>
                                        <td th:class="${offer.offerStatus.name() == 'CLIENT_OFFER'} ? ' ': 'd-none'">
                                            <a class="btn btn-success"
                                               th:href="@{/ofertas/respuesta/user/{userId}/offer/{offerId}/response/{response}(userId=${session.userSession.id}, offerId=${offer.id}, response = 'Accept')}">Confirmar</a>
                                            <a class="btn btn-danger"
                                               th:href="@{/ofertas/respuesta/user/{userId}/offer/{offerId}/response/{response}(userId=${session.userSession.id}, offerId=${offer.id}, response = 'Decline')}">Rechazar</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="container mt-3">

                                            <h2 class="mt-4 mb-4">Gestión de inmuebles</h2>
                                            <h3 class="mb-4">Mis inmuebles</h3>
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Dirección</th>
                                                        <th scope="col">Provincia</th>
                                                        <th scope="col">Localidad</th>
                                                        <th scope="col">Precio</th>
                                                        <th scope="col">Imagen</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody th:each="property : ${properties}">
                                                    <tr>
                                                            <td th:text="${property.address}"></td>
                                                            <td th:text="${property.province}"></td>
                                                            <td th:text="${property.location}"></td>
                                                            <td th:text="${property.price}">
                                                            </td>
                                                            <td>
                                                                <img th:src="@{/image/propiedades/__${property.images[0].id}__}" class="rounded-circle img_into ms-2" >
                                                            </td>
                                                            <td class="ps-3">
                                                                <div class="btn-group" role="group">
                                                                    <div class="btn btn-primary">
                                                                        <a th:href="@{/propiedades/modificar/__${property.id}__}"><i class="bi bi-pencil-square"></i></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                    </div>
                    </div>
                </div>
            </section>
            <footer th:replace="/fragments/footer :: footer"></footer>
        </div>
        <script src="/js/theme.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    </body>
</html>
