<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
    </body>



    <div>
        <h2>Registrar</h2>
        <form th:action="@{/usuario/agregarPropiedad}" method="POST" enctype="multipart/form-data">
            <input type="number" name="idUser" th:value="${session.userSession.id}" hidden>
            <div>
                <input type="text" name="address">
                <label for="address">Direccion</label>
            </div>
            <div>
                <input type="text" name="location">
                <label for="location">Locacion</label>
            </div>
            <div>
                <select name="status">
                    <option value="FORSALE">Venta</option>
                    <option value="FORRENT">Alquiler</option>
                </select>
            </div>
            <div>
                <select name="type">
                    <option value="CASA">Casa</option>
                    <option value="DEPARTAMENTO">Departamento</option>
                    <option value="PISO">Piso</option>
                </select>
            </div>
            <div>
                <input type="number" name="surface">
                <label for="surface">Superficie</label>
            </div>
            <div>
                <input type="number" name="price">
                <label for="price">Precio</label>
            </div>
            <div>
                <input type="text" name="description">
                <label for="description">Descripcion</label>
            </div>
            <div>
                <input type="file" multiple name="files">
                <label for="files">Elegir imagen</label>
            </div>                        
            <button type="submit">Registrar</button>
        </form>
    </div>

</html>
