<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head"></head>
    <body onload="loadTheme()">
        <div class="d-flex flex-column min-vh-100">
            <nav th:replace="/fragments/nav :: nav"></nav>

            <section class="flex-grow-1">
                <div class="container my-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8 col-12">
                            <div class="card">
                                <div class="card-header pt-2">
                                    <h2 class="card-title">Registrar propiedad</h2>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/usuario/agregarPropiedad}" method="POST" enctype="multipart/form-data">
                                        <input type="number" name="idUser" th:value="${session.userSession.id}" hidden>
                                        <div class="mb-3">
                                            <label for="address" class="form-label">Dirección</label>
                                            <input type="text" name="address" class="form-control" id="address" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="location" class="form-label">Locación</label>
                                            <input type="text" name="location" class="form-control" id="location" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="status" class="form-label">Estado</label>
                                            <select name="status" id="status" class="form-select" required>
                                                <option hidden selected>Seleccionar estado</option>
                                                <option value="FOR_SALE">Venta</option>
                                                <option value="FOR_RENT">Alquiler</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="type" class="form-label">Tipo</label>
                                            <select name="type" id="type" class="form-select" required>
                                                <option hidden selected>Seleccionar tipo</option>
                                                <option value="CASA">Casa</option>
                                                <option value="DEPARTAMENTO">Departamento</option>
                                                <option value="PISO">Piso</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="surface" class="form-label">Superficie</label>
                                            <input type="number" name="surface" class="form-control" id="surface" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="price" class="form-label">Precio</label>
                                            <input type="number" name="price" class="form-control" id="price" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="description" class="form-label">Descripción</label>
                                            <input type="text" name="description" class="form-control" id="description" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="files" class="form-label">Elegir imagen</label>
                                            <input type="file" multiple name="files" class="form-control" id="files" accept="image/*" required>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-8 col-12 d-grid">
                                                <button type="submit" class="btn btn-primary my-3">Registrar propiedad</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <footer th:replace="/fragments/footer :: footer"></footer>
        </div>
        <script src="/js/theme.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    </body>
</html>