<!DOCTYPE html>
<html lang="es-AR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/style_properties.css">
    <link rel="stylesheet" href="/static/css/style_header.css">
    <link rel="shortcut icon" href="/static/img/logo.svg" type="image/x-icon">
    <title>MrHouse</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark px-4" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand navbar-logo" href="index.html">
                <img src="/static/img/logo.svg" alt="logo" class="navbar-img">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Propiedades</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Alquilar propiedades</a></li>
                            <li><a class="dropdown-item" href="#">Comprar propiedades</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Todas las propiedades</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vender</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user fa-fw"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li>
                                <button class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#loginModal">Iniciar sesión</button>
                            </li>
                            <li>
                                <button class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#registerModal">Registrarse</button>
                            </li>
                            <li>
                                <button class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#resetPasswordModal">Restablecer contraseña</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Modal de Inicio de sesión -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="username" class="form-label">Usuario</label>
                            <input type="text" class="form-control" id="username" placeholder="Ingrese su usuario">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password"
                                placeholder="Ingrese su contraseña">
                        </div>
                        <div class="d-grid gap-2 col-lg-6 col-12 mx-auto">
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        </div>
                        <div class="">
                            <button class="btn btn-link m-0 ps-0" data-bs-toggle="modal"
                                data-bs-target="#resetPasswordModal" data-bs-dismiss="modal">¿Has olvidado la
                                contraseña?</button>
                        </div>
                        <div>
                            <button class="btn btn-outline-secondary m-0" data-bs-toggle="modal"
                                data-bs-target="#registerModal" data-bs-dismiss="modal">Crear cuenta nueva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Registro -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Registrarse</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="email"
                                placeholder="Ingrese su correo electrónico">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password"
                                placeholder="Ingrese una contraseña">
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </div>
                        <div>
                            <p class="m-0 p-0">
                                ¿Ya tienes una cuenta?
                                <button class="btn btn-link m-0 p-0" data-bs-toggle="modal" data-bs-target="#loginModal"
                                    data-bs-dismiss="modal">Iniciar sesión</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Restablecer Contraseña -->
    <div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetPasswordModalLabel">Restablecer contraseña</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="email"
                                placeholder="Ingrese su correo electrónico">
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <main class="container1">
        <div class="video_container">
            <video src="/static/videos/Ciudad-1.m4v" autoplay muted loop></video>
        </div>
        <div class="overlay">
        </div>
        <div class="imagen">
            <img class="img" src="/static/img/Logo-Proyecto.svg" alt="Mr House_logo">
        </div>

        <div class="main_container">
            <h2>Mr House</h2>
            <p>"Encuentra tu lugar en el mundo"</p>
            <a href="properties.html" target="_blank">Comienza Aqui</a>
        </div>
    </main>

    
    <section>
        <div class="container mt-5">
            <h2>Inmuebles más recientes</h2>
            <div class="row gx-5 mt-4">
                <div class="col-md-6 col-lg-4 d-flex">
                    <div class="item">
                        <img src="/static/img/Venta-1.jpeg" alt="Imagen del inmueble 1">
                        <p> <strong> <u>Av Flores 2486 - Wilde</u> </strong> </p>
                        <p>
                            🏡 Ambiente con mucha luz, con piso de porcelanato, cocina americana. <br>
                            🛁 Baño completo.<br>
                            ✔️ Placard y conexión a lavarropas.<br>
                            📐 39 metros cuadrados totales. Distribución que habilita espacio para escritorio con luz
                            natural.<br>
                            🏢 Edificio de 6 años de antigüedad, SUM en primer piso y terraza de uso común.
                        </p>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4 d-flex">
                    <div class="item">
                        <img src="/static/img/Venta-2.jpg" alt="Imagen del inmueble 2">
                        <p> <strong> <u>Misiones 1734 - Caballito</u> </strong> </p>
                        <p>
                            🏡 Ambientes con mucha luz, balcón amplio con vista abierta al contrafrente.<br>
                            🛁 Baño completo. <br>
                            ✔️ Cocina completa con conexión de lavarropas.<br>
                            📐 52,87 m² totales.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-flex">
                    <div class="item">
                        <img src="/static/img/Alquiler-3.1.jpg" alt="Imagen del inmueble 3">
                        <p> <strong> <u>Canadá 9352 - Vicente López</u> </strong> </p>
                        <p>
                            🏡 2 dormitorios.<br>
                            🛁 1 baño completo y toilette.<br>
                            ✔️ Cocina comedor.<br>
                            ✅ Balcón al frente, piso alto vista panorámica al amanecer y el atardecer.<br>
                            📐 46 metros cuadrados totales.<br>
                            🚗 Cochera fija.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="news-section py-5">
        <div class="container">
            <h2>Últimas noticias</h2>
            <div class="news-list mt-3">
                <div class="news-item">
                    <img src="https://th.bing.com/th?id=OIP.irRljjdjM0EJUuYQOsmA7gHaFK&w=299&h=208&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"
                        alt="Imagen de la noticia 1">
                    <h3>Nueva ley de vivienda aprobada</h3>
                    <p class="news-date">15 de mayo de 2023</p>
                    <p>Se ha aprobado una nueva ley que promueve el acceso a la vivienda para todos los ciudadanos.</p>
                    <a href="pagina_principal.html">Leer más</a>
                </div>
                <div class="news-item">
                    <img src="https://th.bing.com/th?id=OIP.Y47Ju6xb2FccWk3r5yFgLgHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"
                        alt="Imagen de la noticia 2">
                    <h3>Aumento en el mercado inmobiliario</h3>
                    <p class="news-date">12 de mayo de 2023</p>
                    <p>Se reporta un incremento en la demanda de propiedades en las zonas urbanas.</p>
                    <a href="pagina_principal.html">Leer más</a>
                </div>
                <div class="news-item">
                    <img src="https://th.bing.com/th?id=OIP.uUce4_qoDUSmrn68AEbJhwHaFF&w=301&h=207&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"
                        alt="Imagen de la noticia 3">
                    <h3>Aumento en el mercado inmobiliario</h3>
                    <p class="news-date">12 de mayo de 2023</p>
                    <p>Se reporta un incremento en la demanda de propiedades en las zonas urbanas.</p>
                    <a href="pagina_principal.html">Leer más</a>
                </div>
                <div class="news-item">
                    <img src="https://th.bing.com/th?id=OIP.WhDfaehFlXHkJ2sOuFwC1QHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"
                        alt="Imagen de la noticia 4">
                    <h3>Aumento en el mercado inmobiliario</h3>
                    <p class="news-date">12 de mayo de 2023</p>
                    <p>Se reporta un incremento en la demanda de propiedades en las zonas urbanas.</p>
                    <a href="pagina_principal.html">Leer más</a>
                </div>
            </div>
        </div>
    </section>
    
    <div class="logo">
        <img src="/static/img/logo.png" alt="logo">
    </div>
    
    <footer>
        <div class="footer text-center">
            <div class="line mb-3"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-4">
                        <h5 class="mb-3">Contacto</h5>
                        <p>Dirección de la empresa</p>
                        <p>Teléfono: 123-456-7890</p>
                        <p>Email: info@ejemplo.com</p>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <h5 class="mb-3">Síguenos en</h5>
                        <ul class="list-inline second2">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/profile.php?id=100092696826219" target="_blank"><i
                                        class="fab fa-facebook fa-2x"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/mrhouse.inmobiliaria/" target="_blank"> <i
                                        class="fab fa-instagram fa-2x"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/MrHouseInmob" target="_blank"> <i
                                        class="fab fa-twitter fa-2x"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.tiktok.com/@mrhouseinmo" target="_blank"> <i
                                        class="fab fa-tiktok fa-2x"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <h5 class="mb-3">Enlaces útiles</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Términos y condiciones</a></li>
                            <li><a href="#">Política de privacidad</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bg-primary text-center py-3">
                <div class="container">
                    <p class="mb-0">&copy; 2023 Grupo 8. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>



    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</body>

</html>