<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head"></head>
    <body onload="loadTheme()">
        <nav th:replace = "/fragments/nav :: nav"></nav>
        <main>
            <div class="overlay"></div>
            <div class="container__card">
                <div class="card__father">
                    <div class="card card__properties">
                        <div class="card__front"
                             style="background-image: url(/img/properties/D_NQ_NP_837522-MLM69187265942_052023-W.jpg);">
                            <div class="body__card_front">
                            </div>
                        </div>
                        <div class="card__back">
                            <div class="body__card_back">
                                <h1>Description</h1>
                                <table class="Table">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card__father">
                    <div class="card card__properties">
                        <div class="card__front"
                             style="background-image: url(/img/properties/pexels-alex-staudinger-1732414.jpg);">

                            <div class="body__card_front"></div>

                        </div>
                        <div class="card__back">
                            <div class="body__card_back">
                                <h1>Description</h1>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card__father">
                    <div class="card card__properties">
                        <div class="card__front"
                             style="background-image: url(/img/properties/pexels-binyamin-mellish-186077.jpg);">

                            <div class="body__card_front"></div>
                        </div>
                        <div class="card__back">
                            <div class="body__card_back">
                                <h1>Description</h1>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card__father">
                    <div class="card card__properties">
                        <div class="card__front"
                             style="background-image: url(/img/properties/pexels-mike-bird-463996.jpg);">

                            <div class="body__card_front"></div>

                        </div>
                        <div class="card__back">
                            <div class="body__card_back">
                                <h1>Description</h1>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card__father">
                    <div class="card card__properties">
                        <div class="card__front" style="background-image: url(/img/properties/pexels-pixabay-209296.jpg);">

                            <div class="body__card_front"></div>

                        </div>
                        <div class="card__back">
                            <div class="body__card_back">
                                <h1>Description</h1>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card__father">
                    <div class="card card__properties">
                        <div class="card__front"
                             style="background-image: url(/img/properties/real-estate-1686342_1280.jpg);">

                            <div class="body__card_front">

                            </div>
                        </div>
                        <div class="card__back">
                            <div class="body__card_back">
                                <h1>Description</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="logo">
            <img src="/img/logo.png" alt="logo">
        </div>
        <footer th:replace = "/fragments/footer :: footer"></footer>
        <script src="/js/theme.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    </body>
</html>